node_modules
.DS_Store
TODO.md
yarn-error.log
.firebase/hosting.*

# Build output
dist/*
devtools/dist
demo/build/*
demo/dist
demo/lib
docs

# Test coverage
coverage
.context

*.bench.ts
evals/results
