@import url(bulma.css);

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
main {
  height: 100%;
}
canvas {
  /* border: 1px solid red; */
  width: 100%;
  height: 100%;
  background-color: grey;
}

.is-absolute {
  position: absolute;
}

.pane {
  position: absolute;
  /* background-color: black; */
  min-width: 42px;
  min-height: 42px;
  padding: 10px;
  /* border: 1px solid white; */
  border-radius: 4px;
}

.pane.is-right {
  right: 0;
}

.pane.is-left {
  left: 0;
}

.pane.is-top {
  top: 0;
}

.pane.is-bottom {
  bottom: 0;
}

input[type='range'][orient='vertical'] {
  writing-mode: vertical-lr;
  direction: rtl;
  appearance: slider-vertical;
  width: 16px;
  vertical-align: bottom;
}
