body {
    margin: 0;
    font-family: Verdana;
    color: #eee;
    background: #eee;
}
.controls {
    position: absolute;
    background: rgba(32, 83, 119, 0.5);
    left: 0;
    top:0;
    bottom:0;
    padding: 10px;
    line-height: 25px;
    transform: translateZ(0);
}
.note {
    font-size: 60%;
}
h1 {
    font-size: 110%;
    margin: 0 0 20px 0;
    font-weight: normal;
}
section {
  margin-bottom: 20px;
}
:disabled {
    opacity: 0.5;
}
a {
    color: white;
}

.gcode-previewer canvas {
  width: 100%;
  height: 100%;
}

#renderer {
  width: 100%;
  height: 100%;
}