html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  font-family: Verdana;
  color: #eee;
  background: #eee;
}

/* Light mode */
@media (prefers-color-scheme: light) {
  body {
    background-color: #eee;
    /* color: #111; */
  }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #111;
    /* color: #eee; */
  }
}

.sidebar {
  position: absolute;
  background: rgba(32, 83, 119, 0.5);
  left: 0;
  top: 0;
  bottom: 0;
  padding: 10px;
  line-height: 25px;
  transform: translateZ(0);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translateZ(0);
  overflow-y: scroll;
  overflow-x: hidden;
}

.description {
  font-size: 100%;
  font-weight: normal;
  margin: 0;
}

.dnd {
  position: absolute;
  bottom: 10px;
  right: 15px;
  padding: 10px;
  color: #808080;

  animation: slideInUp 0.3s ease-out;
  animation-delay: 2s;
  animation-fill-mode: backwards;
}

@keyframes slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.version-box {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  transform: translateZ(0);
  filter: grayscale(1);
}

.version-box a {
  text-decoration: none;
}

.controls {
  display: flex;
  justify-content: space-between;
}

.note {
  font-size: 60%;
}

h1 {
  font-size: 160%;
  margin: 0 0 20px 0;
  font-weight: normal;
}

section {
  margin-bottom: 20px;
}

:disabled {
  opacity: 0.5;
}

a {
  color: white;
}

#renderer {
  width: 100%;
  height: 100%;
}

canvas.dragging {
  opacity: 0.7;
}

canvas:focus {
  outline: none;
}

.experimental {
  padding: 5px;
  background-color: rgba(20, 55, 80, 0.5);
  font-size: 90%;
}

.experimental h4 {
  margin: 0;
  font-variant: small-caps;
  font-weight: normal;
}

#thumb {
  display: block;
}

/* for performance & stacking */
canvas#renderer,
.sidebar,
.dnd,
.version-box {
  transform: translateZ(0);
}

.bmc-btn-container {
  transform: scale(0.6);
}

output {
  font-size: 90%;
  color: #808080;
}

@media (prefers-color-scheme: light) {
  output {
    color: #d9d9d9;
  }
}
